*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: oklch(1 0 0);
    --color-secondary: oklch(0 0 0);
    --color-tertiary: oklch(0.5431 0.0927 194.77);
}

.frosted {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-template-rows: 12rem 1fr;
    gap: .5rem;
    padding: .5rem;
    background: #020024;
    background: linear-gradient(315deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.header {
    grid-column: 2 / -1;
    grid-row: 1;
    border-radius: 16px;
    padding: 1.5rem;
    color: var(--color-primary);

    & .header-top {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        gap: 12rem;
        margin-bottom: 2rem;
    }

    & .header-search {
        display: grid;
        grid-template-columns: 32px 1fr;
        gap: 1rem;
        align-items: center;
    }

    & .header-search input {
        height: 2rem;
        border-radius: 2rem;
        border: none;
        padding-left: .5rem;
        padding-right: .5rem;
    }

    & .header-search input:focus-visible {
        outline: 2px solid oklch(0 0 0);
    }

    & .header-account {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 2rem;
    }

    & .header-account:first-child {
        margin-left: auto;
    }

    & .header-account span {
        font-weight: bold;
    }

    & .header-bottom {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        gap: 8rem;
    }

    & .header-greeting {
        display: grid;
        grid-template-columns: 64px 1fr;
        gap: 1rem;
        align-items: center;
    }

    & .greeting {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
    }

    & .user-name {
        font-size: 1.5rem;
    }

    & .header-buttons {
        display: flex;
        gap: 2rem;
    }

    & button {
        border: none;
        border-radius: 2rem;
        width: 6rem;
        font-weight: bold;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    & button:hover {
        background-color: rgba(0, 212, 255, 1);
    }

    & button:focus-visible {
        outline: 2px solid oklch(0 0 0);
    }
}

.sidebar {
    padding: 1rem;
    grid-column: 1;
    grid-row: 1 / -1;
    color: var(--color-primary);
    display: grid;
    gap: 3rem;
    align-content: start;
    border-radius: 16px;

    & .title {
        display: grid;
        grid-template-columns: 64px 1fr;
        align-content: start;
        align-items: center;
        gap: 1rem;
    }

    & .sidebar-link {
        display: grid;
        grid-template-columns: 64px 1fr;
        align-content: start;
        font-size: 1.5rem;
        text-decoration: none;
        color: var(--color-primary);
        padding: .75rem;
        gap: .25rem;
        border-radius: 2rem;
    }

    & .sidebar-link:focus-visible,
    & .sidebar-link:hover {
        outline: 2px solid oklch(1 0 0);
    }

    & .sidebar-link>img {
        padding-left: .25rem;
    }
}


.main {

    display: grid;

}

.card {
    width: 200px;
    height: 200px;
    /* From https://css.glass */
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}